.profile_info {
  /* position: relative; */
}
.wallpaper {
  width: 540px;
  /* min-width: 500px; */
  object-fit: cover;
}

.profile_img_container {
  display: flex;
  width: 20%;
  flex-direction: column;
}
.profile_img {
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  width: 100%;
  height: auto;
}
/* .photo_input {
 } */
