.profile_info{
   position: relative;
}
.wallpaper_wrapper {

}
 .wallpaper {
   width: 540px;
  /* min-width: 500px; */
  object-fit: cover;
 }

 .profile_img_container{
   position: absolute;
   margin-top: -100px;
 }
 .profile_img {
   border-radius: 50%;
   width: 200px;
 }