.profile_info{
   /* position: relative; */
}
 .wallpaper {
   width: 540px;
  /* min-width: 500px; */
  object-fit: cover;
 }

 .profile_img_container{
   position: relative;
   display: block;
   width: 20%;
 }
 .profile_img {
  margin: 20px 0 20px 20px;
  float: left;
   border-radius: 50%;
   width: 100%;
   height: auto;
 }
 .photo_input {
position:absolute;
top: 50%;
left: 50;
 }