.posts_container {
  margin-top: 150px;
}
.text_input {
  margin-right: 0px;
  width: 50%;
  margin-bottom: 100px;
}
.text_input_area {
  display: block;
  resize: vertical;
  width: 100%;
  margin: 8px 0;
}
.text_input_button {
  display: block;
  float: right;
  padding: 8px 16px;
}
