* {
  box-sizing: border-box;
}
:root {
  --main-black: #292b2f;
  --main-gray: #e8e8e8;
  --main-white: #f3f0f0;
}
body {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-gray);
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "nav header"
    "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 10fr;
  /* grid-gap: 10px; */
}
