.selected_page {
   font-weight: bold;
}
.paginator {
margin: 4px 8px;
display: flex;
}
.paginator span{
border: 1px solid black;
border-radius: 2px;
margin: 0 1px;
padding: 0 1px;

}
.page_number{
   margin: 1px 1px;
}
