.friends_bar {
  color: var(--main-white);
}
.friends_header {
  display: inline-block;
  margin: 0 8px 16px 0;
}
.friends_online {
  display: inline-block;
  font-size: small;
  color: green;
}
.friends_items_list {
  display: grid;
  grid-template-columns: 50px 50px 50px;
}
